{{define "footer"}}
    <div id="footer">
        <a target="_blank" href="https://icons8.com/">Solar Panel, Marker, and Wind Gauge icon</a> by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
{{end}}